@model Portalia.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="~/">@Portalia.Resources.UserProfile.Home</a></li>
        <li class="active">@Portalia.Resources.UserProfile.ChangePassword</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">@Portalia.Resources.UserProfile.ChangePassword</h1>
            </header>

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center">@Portalia.Resources.UserProfile.ChangePassword</h3>
                        <hr>

                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "password-form", role = "form", @id = "change-password-form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="password-form-group">
                                <label>@Portalia.Resources.UserProfile.OldPassword <span class="text-danger">*</span></label>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>

                            <div class="password-form-group">
                                <label>@Portalia.Resources.UserProfile.Password <span class="text-danger">*</span></label>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>

                            <div class="password-form-message">
                                <p>Votre mot de passe doit comporter au moins:</p>
                                <p class="valid-message error" id="password-validate-8-char">8 caractères <i class="fa fa-check hidden"></i></p>
                                <p class="valid-message error" id="password-validate-char">Une majuscule & une minuscule <i class="fa fa-check hidden"></i></p>
                                <p class="valid-message error" id="password-validate-number">Un chiffre (de 0 à 9) <i class="fa fa-check hidden"></i></p>
                                <p class="valid-message error" id="password-validate-special-char">Un caractère spécial <i class="fa fa-check hidden"></i></p>
                            </div>

                            <div class="password-form-group">
                                <label>@Portalia.Resources.UserProfile.ConfirmPassword <span class="text-danger">*</span></label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-4 text-right">
                                    <button class="btn btn-prime btnNormal" 
                                            type="button" 
                                            id="submit-change-password-form">@Portalia.Resources.UserProfile.ChangePassword</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>

        </article>
        <!-- /Article -->

    </div>
</div>	<!-- /container -->

@section scripts {
    @Scripts.Render("~/bundles/user-change-password")
    <script>
        changePasswordForNewPolicy.initializeEvents();
    </script>
}
@Scripts.Render("~/bundles/jqueryval")