@model Portalia.Models.ChangePasswordForNewPolicyViewModel
@{
    ViewBag.Title = "ChangePasswordForNewPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-change-password">
    <div class="page-wrapper">
        <div class="page-title">Changer le mot de passe</div>
        <div class="page-subtitle">
            <p>Nous avons mis en place une nouvelle politique de mot de passe pour assurer une meilleure sécurité.</p>
            <p>Veuillez mettre à jour votre mot de passe avant d'accéder à la plateforme.</p>
        </div>
        @using (Html.BeginForm("ChangePasswordForNewPolicy", "Account", FormMethod.Post, new { @class = "password-form", role = "form", @id = "change-password-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="password-form-group">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "password-form-control", placeholder = "Ancien mot de passe" })
            </div>

            <div class="password-form-group">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "password-form-control", placeholder = "Nouveau mot de passe" })
            </div>

            <div class="password-form-message">
                <p>Votre mot de passe doit comporter au moins:</p>
                <p class="valid-message error" id="password-validate-8-char">8 caractères <i class="fa fa-check hidden"></i></p>
                <p class="valid-message error" id="password-validate-char">Une majuscule & une minuscule <i class="fa fa-check hidden"></i></p>
                <p class="valid-message error" id="password-validate-number">Un chiffre (de 0 à 9) <i class="fa fa-check hidden"></i></p>
                <p class="valid-message error" id="password-validate-special-char">Un caractère spécial <i class="fa fa-check hidden"></i></p>
            </div>

            <div class="password-form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "password-form-control", placeholder = "Confirmez le mot de passe" })
            </div>

            <div class="password-form-group">
                <input type="button" id="submit-change-password-form" class="password-form-button" value="Changez le mot de passe" />
            </div>
        }
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/user-change-password")
    <script>
        changePasswordForNewPolicy.initializeEvents();
    </script>
}


