@model Portalia.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Mot de passe oublié";
}
<header id="head" class="secondary"></header>
<div class="container" style="min-height: 630px">
    <ol class="breadcrumb">
        <li><a href="~/">@Portalia.Resources.RegisterPage.Home</a></li>
        <li class="active">Mot de passe oublié</li>
    </ol>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <h3 class="thin text-center">Mot de passe oublié</h3>
                    <hr />
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "password-form", role = "form", @id = "change-password-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Réinitialisez votre mot de passe.</h4>
                        <hr />

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)
                        @Html.HiddenFor(model => model.UserId)

                        <div class="password-form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="password-form-group">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="password-form-message">
                            <p>Votre mot de passe doit comporter au moins:</p>
                            <p class="valid-message error" id="password-validate-8-char">8 caractères <i class="fa fa-check hidden"></i></p>
                            <p class="valid-message error" id="password-validate-char">Une majuscule & une minuscule <i class="fa fa-check hidden"></i></p>
                            <p class="valid-message error" id="password-validate-number">Un chiffre (de 0 à 9) <i class="fa fa-check hidden"></i></p>
                            <p class="valid-message error" id="password-validate-special-char">Un caractère spécial <i class="fa fa-check hidden"></i></p>
                        </div>

                        <div class="password-form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="password-form-group">
                            <input type="button" id="submit-change-password-form"
                                   class="btn btn-default"
                                   value="Valider" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/user-change-password")
    <script>
        changePasswordForNewPolicy.initializeEvents();
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
